# Swift Package Manager
/.build
/Packages
Package.resolved

# Xcode
/*.xcodeproj

# Idea
/.idea

# OS X
.DS_Store

# Tools 
tools/external/*
!tools/external/.gitkeep

# swiftlint (configuration is in progress)
.swiftlint.yml

# docs is in progress
docs/
